<h2><center>New Profile</center></h2>

<form action="/create_profile">
  <input type="text" name="name" placeholder="name"> 
  <input type="text" name="email" placeholder="email">
  <input type="submit">
</form>